.widget {
  display: flex;
  flex: 1;
  height: inherit;
  min-height: inherit;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex: 1;
}

.tab {
  overflow: hidden;
  display: none;
  flex: 1;
}

.activeTab {
  display: flex;
}

.terminal {
  flex: 1;
}

.commands {
  padding: 8px;
}
